
*.aux
*.ilg
*.idx
*.ind
*.log
*.out
*.toc
*.bcf
*.xml
*.blg
*.bbl
*.gz
Algebra/PUBLISH.bat
*.bat
Analysis/.vscode/settings.json
Topology/.vscode/ltex.dictionary.en-US.txt
Topology/.vscode/ltex.hiddenFalsePositives.en.txt
.vscode/ltex.hiddenFalsePositives.en.txt
*ltex.hiddenFalsePositives.en.txt
